<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Click Column -->
  <ng-container matColumnDef="click">
    <th mat-header-cell *matHeaderCellDef> Click </th>
    <td mat-cell *matCellDef="let element" (click)="expandData(element)">
      <button mat-raised-button color="primary" (click)="expandData(element)">Click</button>
    </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element" (click)="expandData(element)">
      <span *ngIf="element.expand">{{element.date | date:'MMM d, y'}} </span>
    </td>
  </ng-container>

  <!-- Random Number Column -->
  <ng-container matColumnDef="randomNumber">
    <th mat-header-cell *matHeaderCellDef> Random Number </th>
    <td mat-cell *matCellDef="let element" (click)="expandData(element)"> 
      <span *ngIf="element.expand">{{element.randomNumber}} </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<button *ngIf="dataSource.length" mat-raised-button color="warn" (click)="clearTable()">Clear Table</button>
